<button style="margin-top: 2%;margin-left:45%;" class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">לחץ להוספת נהג חדש</button>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">הוספת נהג חדש</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body"> 
    <app-outo-complete></app-outo-complete> 
    <input type="text"  placeholder=" שם מלא"  formControlName="fname" [(ngModel)]='fname'>
    <input type="text"  placeholder="תעודת זהות" formControlName="Tz" [(ngModel)]='Tz'>
    <input type="text"  placeholder="רחוב" formControlName="street" [(ngModel)]='street'>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btnAddClick();">הוסף</button>
  </div>
</ng-template>
