<p-table [value]="drivers">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Tz</th>
          <th>Street</th>        
          <th>City</th>          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Drivers>
      <tr>
          <td>{{Drivers.name}}</td>
          <td>{{Drivers.Tz}}</td>
          <td>{{Drivers.street}}</td> 
          <td>{{Drivers.city}}</td>          
      </tr>
  </ng-template>
</p-table>
<div style="margin-top: 2%;">
    <input type="button" value="next" [routerLink]="['../addDriver']" class="btn btn-lg btn-outline-primary">
</div>
